:root {
  --font-sans: "Source Sans Pro", "Roboto", "Georgia", sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}
body {
  font-family: var(--font-sans);
  overflow: auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: black;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: aquamarine;
}

* {
  margin: 0;
}

.section {
  background-color: black;
  color: white;
  min-width: 100%;
  min-height: 100vh;
  padding-left: 2em;
}

.skills {
  margin-top: 4em;
  margin-bottom: 18em;
}

#project {
  margin: 2em;
  margin-bottom: 0em;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-title {
  font-weight: 700;
  text-align: center;
}

#project-image,
#skill-image {
  height: 5em;
  width: 5em;
  margin: 1em;
}

#skill-image {
  margin: 0em;
}

#profile-name {
  font-size: 4.35em;
  font-weight: 1000;
  line-height: 1em;
  animation: profile 3s 1;
}

@keyframes profile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#project-header,
#about-header {
  font-size: 3em;
  font-weight: 1000;
  text-decoration: none;
}

#about-header {
  text-decoration: none;
}

#skills-header {
  font-size: 2.6em;
  font-weight: 900;
  text-decoration: none;
}

#project-info {
  margin: 2em 2em 2em 2em;
}

#project-description {
  color: gainsboro;
}

#project-card {
  height: 100%;
}

#contact-detail {
  font-size: 1.5em;
  padding: 0.2em;
  border: 0.05em solid transparent;
}

#contact-detail:hover {
  border-color: white;
  border-radius: 5px;
}

#download {
  background-color: #282c34;
  color: white;
  border: 0.1em solid white;
  border-radius: 4px;
}

#download:hover {
  background-color: gray;
}

#skill {
  margin: 2em;
  margin-bottom: 0em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  background-color: black;
  color: white;
  width: 100%;
  height: 4em;
  position: relative;
  bottom: 4em;
}

.header {
  background-color: rgba(255, 0, 0, 0.334);
  border-radius: 4px;
  padding: 0.2em;
}
